---

import type { ArticleFrontmatter } from "../../lib/types";
import { getConfigurationCollection, calculateReadingTime } from "../../lib/utils";
import ArticleSnippet from "../ArticleSnippet.astro";
import Anchor from "../common/Anchor.astro";

type Props = {
	featuredArticles: Array<ArticleFrontmatter & { body?: string }>;
};

const { featuredArticles } = Astro.props;
const { data: config } = await getConfigurationCollection();

const sortedArticles = featuredArticles.sort(
	(a, b) => b.updatedAt.valueOf() - a.updatedAt.valueOf()
);
---

<div class="flex justify-between items-center w-full">
  <h3 class="font-display text-lg sm:text-xl leading-loose">{config.texts.articlesName}</h3>
  <Anchor url="/" class="text-base">{config.texts.viewAll}</Anchor>
</div>
<ul class="my-8">
  {
    (sortedArticles.length === 0 && <p>{config.texts.noArticles}</p>) ||
      sortedArticles.map((article) => (
        <li>
          <ArticleSnippet
            title={article.title}
            description={article.description}
            url={article.url}
            timestamp={article.timestamp}
            duration={`${calculateReadingTime(article.body)} min`}
          />
        </li>
      ))
  }
</ul>